<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.thejoeun.product.model.mapper.ProductMapper">

    <select id="getAllProducts" resultType="Product">
        SELECT *
        FROM product
        ORDER BY created_at DESC NULLS LAST
    </select>

    <select id="getProductById" resultType="Product">
        SELECT *
        FROM product
        WHERE id = #{id}
    </select>

    <select id="getProductByCode" resultType="Product">
        SELECT *
        FROM product
        WHERE product_code = #{productCode}
    </select>

    <select id="getProductsByCategory" resultType="Product">
        SELECT *
        FROM product
        WHERE category = #{category}
          AND is_active = 'Y'
        ORDER BY created_at DESC NULLS LAST
    </select>

    <!--
    product_name LIKE CONCAT('%', #{keyword}, '%')
    OR product_code LIKE CONCAT('%', #{keyword}, '%')
    OR manufacturer LIKE CONCAT('%', #{keyword}, '%')
    -> Oracle에서는 CONCAT 대신 || 연산자 사용하거나 CONCAT 함수를 중첩하여 사용한다.

    AND is_active = TRUE
    -> Oracle에서는 BOOLEAN 개념이 존재하지 않아 'Y'/'N'로 사용한다.
    -->

    <select id="searchProducts" resultType="Product">
        SELECT *
        FROM product
        WHERE (product_name LIKE '%' || #{keyword} || '%'
            OR product_code LIKE '%' || #{keyword} || '%'
            OR manufacturer LIKE '%' || #{keyword} || '%'
            )
          AND is_active = 'Y'
        ORDER BY created_at DESC NULLS LAST
    </select>

    <insert id="insertProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO product (
            product_name,product_code,category,price,stock_quantity,description,manufacturer,image_url,is_active)
        VALUES (#{productName},#{productCode},#{category},#{price},#{stockQuantity},#{description},#{manufacturer},
            #{imageUrl},#{isActive})
    </insert>

    <update id="updateProduct" parameterType="Product">
        UPDATE product
        SET product_name = #{productName},
            category = #{category},
            price = #{price},
            stock_quantity = #{stockQuantity},
            description = #{description},
            manufacturer = #{manufacturer},
            image_url = #{imageUrl},
            is_active = #{isActive}
        WHERE id = #{id}
    </update>

    <update id="deleteProduct" parameterType="Product">
        UPDATE  product
        SET is_active = 'N'
        WHERE id = #{id}
    </update>

    <update id="updateStock" parameterType="Product">
        update product
        SET stock_quantity = #{stockQuantity}
        WHERE id = #{id}
    </update>
</mapper>